<form method="post" id="editForm">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Edit Card</h5>
    </div>

    <div class="modal-body">
        {{form.as_p}}
    </div>

    <p class="close-hint">Click Anywhere to close or press Esc</p>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>

<style>
  .close-hint {
    text-align: center;   /* center horizontally */
    opacity: 0.5;         /* lower opacity */
    font-size: 0.9rem;    /* optional: slightly smaller */
  }
</style>