{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div id="alertsContainer" class="position-relative"></div>
</div>

{% for msg in messages %}
  {{msg}}
{% endfor %}

<section id="inventorySection">
    <div class="container-fluid">
      {% include 'toolbar.html' %}
      <table class="table align-middle mb-0">
          <thead>
              <tr>
                  <th>Name</th>
                  <th class="d-none d-md-table-cell">Type</th>
                  <th class="d-none d-md-table-cell">Color</th>
                  <th class="d-none d-md-table-cell">Mana Cost</th>
                  <th class="d-none d-md-table-cell">Description</th>
                  <th class="d-none d-lg-table-cell">Price</th>
                  <th class="d-none d-lg-table-cell">Qty</th>
                  <th class="text-end d-none d-sm-table-cell">Action</th>
              </tr>
          </thead>
          <tbody id="cardsTbody">
              {% include 'cards_table.html' %}
          </tbody>
      </table>
    </div>
</section>

<div class="modal fade" id="dynamicModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="dynamicModalContent">
      <!-- JS will inject the form here -->
    </div>
  </div>
</div>


<script src="{% static 'js/add_card.js' %}"></script>
<script src="{% static 'js/add_via_photo.js' %}"></script>
<script src="{% static 'js/edit_card.js' %}"></script>
<script src="{% static 'js/remove_card.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
{% endblock %}
