{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div id="alertsContainer" class="position-relative"></div>
</div>

{% for msg in messages %}
  {{msg}}
{% endfor %}

<section id="inventorySection">
    <div class="container-fluid">
        {% include 'toolbar.html' %}
        {% include 'inventory_table.html' %}
    </div>
</section>

<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="editModalContent">
      <!-- JS will inject form here -->
    </div>
  </div>
</div>

<script src="{% static 'js/cards_actions.js' %}"></script>
{% endblock %}
